---
import Layout from "../layouts/Layout.astro";
import Gradient from "../components/Gradient.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <section class="hero">
    <p>Hi, my name is</p>
    <p class="name_span">RONJA</p><p>and I am a Multimediadesigner</p>
  </section>
  <section id="about">
    <div class="about_info_wrapper">
      <h1>About</h1>
      <div class="about_info_txt">
        <div class="who">
          <h3>Who am I?</h3>
          <p>
            My name is Ronja Baldursdóttir, an AP graduate in Multimediadesign, and a current
            student of Webdevelopment at the Copenhagen School of Design and Technology.
          </p>
        </div>
        <div class="what">
          <h3>What do I offer?</h3>
          <p>
            With a background in front-end development and design, I bring both creativity and
            technical expertise to the table. I enjoy collaborative environments, getting
            inspiration from teammates while continuously refining my work through feedback.
          </p>
        </div>
        <div class="goals">
          <h3>What are my goals?</h3>
          <p>
            I’m eager to join a dynamic team where I can continue growing my skills and developing
            as a multimediadesigner. My goal is to further evolve both individually and in a group
            setting, while gaining real-world insight into the industry.
          </p>
        </div>
      </div>
    </div>
    <!-- hover viser at der onclik ændres til ægte img af mig -->
    <img src="/public/imgs/guy.png" alt="Guy" />
  </section>

  <section id="experience">
    <h1>Experience</h1>
    <div class="experience_info_wrapper">
      <div class="education_info_wrapper">
        <h3>Education</h3>
        <div class="education_info_txt">
          <p>
            AP Degree in <span class="bold_span color">Multimedia Design</span> at Copenhagen School
            of Design and Technology (2023 - 2025)
          </p>
          <p>
            BA Degree in <span class="bold_span color">Web Development</span> at Copenhagen School of
            Design and Technology (2025 - 2026)
          </p>
        </div>
      </div>
      <div class="skills_info_wrapper">
        <h3>Skills</h3>
        <div class="skills_info_txt">
          <p>
            <span class="bold_span">Design: </span>
            UX design, Design Systems, Prototyping, User & Design Research
          </p>
          <p>
            <span class="bold_span">Tools & Languages: </span>
            HTML, CSS, JS, Astro, Next.js, Wordpress, Github, Figma, Illustrator, Photoshop, Premiere
            Pro, After Effects, Elementor
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="projects">
    <h1>Projects</h1>
    <div class="project_wrapper vi_wrapper">
      <Gradient gradient_class="visual_impact_left" />
      <div class="project_text_wrapper vi_text_wrapper">
        <div>
          <h3>Visual Impact</h3>
          <p>
            For my final AP degree exam, I was a part of a two-person team to create the concept and
            website for a fictional digital design festival called Visual Impact. The project was
            developed as a sub-brand of Softworld, with the goal of expanding their target audience
            and entering a new market focused on short-form live events in the creative industry.
          </p>
          <p>
            We were responsible for building a new brand identity from scratch, including a unique
            visual design system, event structure, and tone of voice which was all based on design
            and user research conducted at the start of the process. My role included both UX/UI
            design and front-end development, where I helped create a responsive and engaging
            website using Astro.
          </p>
        </div>
        <a class="link_btn" href="https://visual-impact-2.netlify.app/">Visit Visual Impact!</a>
      </div>
    </div>

    <div class="project_wrapper">
      <div class="project_text_wrapper">
        <div>
          <h3>Alpha Management</h3>
          <p>
            In this group project, we established a full digital presence for the music management
            and artist service Alpha. Our work included developing a website, creating a social
            media content plan, and designing SoMe assets tailored to Alpha’s brand and audience.
            The website features sections such as artist profiles, events, news, and music
            recommendations — all dynamically fetched from a Supabase database that we set up and
            integrated into the site.
          </p>
          <p>
            At the time, Alpha's only existing visual identity was a logo, so we collaborated
            closely with the client and conducted thorough user research to create a design and user
            experience that reflected both Alpha’s vision and its customers’ needs.
          </p>
          <p>
            My role covered the full digital design process, including research and analysis, UX/UI
            design and prototyping in Figma, usability testing and iterations, and front-end
            development using Astro.
          </p>
        </div>
        <a class="link_btn" href="https://alpha-management.netlify.app/">Visit Alpha Management!</a>
      </div>
    </div>

    <div class="project_wrapper">
      <div class="project_text_wrapper">
        <div>
          <h3>Veranda Vin</h3>
          <p>
            During this project, we worked with Veranda Vin to redesign their existing website, with
            the goal of making information more relevant, accessible, and user-friendly. We worked
            closesly with thte owner and graphic designer of the Veranda team, which ensured
            consistency between the established and updated visual identity.
          </p>
          <p>
            My role in this project included wireframing, and designing the updated visual direction
            through moodboards and style tiles which I later implemented through front-end
            development.
          </p>
          <p>
            This project was made during my first semester of the Multimediadesign degree, and was
            alot shorter than the other projects in my portfolio. Because of this, the process was
            not as in-debth as later projects, and there were used fewer methods fx. user research,
            prototyping and testing.
          </p>
        </div>
        <a class="link_btn" href="https://roba0001.github.io/verandavin_ppp/"
          >See the updated Veranda site here!</a
        >
      </div>
    </div>

    <div class="project_wrapper">
      <div class="project_text_wrapper">
        <h3>Soup Shenanigans</h3>
        <p>
          This easy game was made during my first semester of the Multimediadesign degree. During
          this project, I used Illustrator to design game elements, which I later implemented into a
          functional game with HTML, CSS and JavaScript.
        </p>
      </div>
    </div>

    <div class="project_wrapper">
      <div class="project_text_wrapper">
        <h3>Internship with Supersonic</h3>
        <p>
          During my 4th semester, I had a 10 week internship with the production company Supersonic.
          During this process i worked independently on an internal site for the movie company
          Scanbox, which worked as a library for all their projects and staff.
        </p>
        <p>
          This project was my first time working with Wordpress and Elementor to set up a site and
          create templates. I also used plugins like Advanced Custom Fields and Frontend Admin to
          make the site customizable from the frontend. This way Scanbox employees could add, edit
          and delete both projects and staff, all without having to enter the backend in Wordpress.
          By assigning each project a token, I was able to create custom code that gave non Scanbox
          staff fx. investors, a way to access specific projects that they had been given the token
          to.
        </p>
      </div>
    </div>
  </section>
</Layout>

<style>
  section {
    height: 100vh;
    width: 60%;
  }

  .name_span {
    color: var(--accent);
    font-weight: bold;
    font-size: 200px;
    width: 100%;
    height: auto;
  }

  .bold_span {
    font-weight: 700;
  }

  #about {
    width: 80%;
    display: flex;
    gap: 6rem;
    img {
      height: 50%;
    }

    .about_info_wrapper {
      gap: 1.5rem;
    }
    .about_info_txt {
      gap: 2.5rem;
      > * {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }

    .about_info_txt,
    .about_info_wrapper {
      display: flex;
      flex-direction: column;
    }
  }
  #experience {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .experience_info_wrapper {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;

      > * {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
    }
  }

  .project_wrapper {
    display: flex;
    height: 90vh;
  }
  .project_text_wrapper {
    position: absolute;
    width: 60%;
    height: fit-content;
  }

  .project_text_wrapper {
    display: flex;
    flex-direction: column;

    gap: 2rem;

    > * {
      display: flex;
      flex-direction: column;

      gap: 1rem;
    }
  }
  .vi_wrapper {
    display: flex;
    flex-direction: column;
  }
  .flex {
    display: flex;
    gap: 2.5rem;
  }

  .link_btn {
    padding: 0.25rem 0.5rem;
    border-radius: 30px;
    border-color: black;
    border-style: solid;
    color: black;
    width: fit-content;
  }
  .link_btn:hover {
    text-decoration: none;
    background-color: black;
    color: white;
  }

  .color {
    color: var(--accent);
  }
</style>
