---

---

<header>
  <nav>
    <a href="#about">About</a>
    <p>/</p>
    <a href="#experience">Experience</a>
    <p>/</p>
    <a href="#projects">Projects</a>
  </nav>
</header>

<style>
  header {
    padding: 0 4rem;
    position: fixed;
    top: 10px;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    width: 100%;

    nav {
      display: flex;
      p {
        margin: 0 5px;
      }
      a {
        font-weight: bold;
      }
    }
  }
</style>
