---
import "../style.css";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Portfolio</title>
    <!-- red hat display -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <Header />
    <div class="page">
      <slot />
    </div>
  </body>
  <!-- insert footer -->
</html>

<style>
  .page {
    margin: 7rem 4rem;
    /* display: grid;
    grid-template-columns: 1fr min(1000px, 100%) 1fr;

    > * {
      grid-column: 2;
    } */
  }

  /* .fullwidth {
    grid-column: 1/-1;
  } */
</style>
